#bgimage{
    height: 100vh;
    background-size:cover;
}
#logo{
    height:4vw;
    width: 4vw;
}
#caro{
    height: 25vh;
    /* width:10vw; */
    /* height: 10vh; */
}
h1{
    font-size: 90px;
    font-weight: bold;
    font-family: 'Bebas Neue';
    color:White;
}

h2{
    font-size: 36px;
    font-weight: bold;
    font-family: 'Bebas Neue';
    color:white;
}

h3{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Bebas Neue'
}

body{
    font-family:'Open Sans';
    font-size: 18px;
}
.sub-text{
    font-family:'Open Sans';
    font-size: 14px;

}


#main-button{
    background-color:coral;
    font-family:'Open Sans';
    font-weight: bold;
    font-size: 16px;
    color: black;
}

nav{
    text-transform: uppercase;
    font-size: 12px;
    font-family:'Open Sans';
    font-weight: bold;
    color:white;
    
    background-color: rgba(0, 0, 0, 0.5);
}

.accordion-button{
    color: yellow;
    font-size: 1.25rem;
    font-family:'Open Sans';
}

.accordion-collapse{
    font-size:0.75rem;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: red;
      color: white;
      text-align: center;
    }
#tester{
    background-color: gray;

}
hr{
    border: 1px solid white;
    border-radius: 5px;
}
#tester2{
    background-color: black;
    margin-bottom: top;
}
#tester3{
    background-color: red;
}
#tester4{
    background-color: blue;

}
#testertransparent{
    background-color:transparent
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position:absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */


/* Number text (1/3 etc) */


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
